
html, body {
	height: 100%;
	width: 100%;
	font-family: Helvetica, sans-serif;
}

#header-bar {
	height: 15%;
	background-color: cornflowerblue;
}

#header-bar img {
	margin-top: 15px;
	margin-left: 30px;
	height: 60%;
}

.chart {
	margin-right: 60px;
	display: inline;
}

.chart svg {
	margin-top: 65px;
}

#input-container:first-of-type {
	margin-top: 100px;
}

.menu-input {
	margin-left: 20px;
	font-size: 1.4em;
	margin-top: 30px;
}

.menu-input p {
	margin-bottom: 0;
	padding-left: 10px;
	color: #AAAAAA;
}

select {
	border: 4pt solid #CCCCCC;
	width: 85%;
	max-width: 250px;
	height: 50px;
}

.header-readout {
	position: absolute;
	left: 50px;
	top: 5%;
	font-size: 1.5em;
	font-weight: bold;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
	font-size: 0.8em;
}