<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Fasterbids data dashboard</title>
	<meta name="description" content="Fasterbids data dashboard">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>
	<script src="js/app.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">

</head>

<body ng-app="fasterbids" ng-controller="dashboardCtrl">

	<!-- header bar -->
	<div id="header-bar" class="nav nav-tabs">
		<img src="img/logo.png" alt="Fasterbids logo" />

	</div>

	<div id="analytics-container" class="container">

		<!-- side panel -->
		<div id="analytics-side-panel" class="col-md-3">

			<!-- build dropdown menu filters -->
			<div ng-repeat="item in metadata" id="input-container">
				<div class="menu-input">
					<p>{{ item.label }}</p>
					<select ng-model="metadata" ng-options="option for option in item.items"></select>
				</div>
			</div>
		</div>

		<!-- dashboard view -->
		<div id="analytics-dashboard" class="col-md-9">

			<pie-chart></pie-chart>

		</div>
	</div>

</body>

</html>